<div
  class="bg-body dark:bg-darkmode-body flex items-center flex-col md:flex-row">
  <div class="p-4 order-1 md:order-0">
    <h4 class="mb-3">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h4>
    {{ $categories:= .Params.categories }}
    {{ if $categories }}
      <ul class="mb-4 md:mb-0">
        <li class="mr-4 inline-block">
          {{ time.Format ":date_long" .PublishDate }}
        </li>
        <li class="mr-4 inline-block">
          <i class="fa-regular fa-folder mr-1"></i>
          {{ range $i,$p:= $categories }}
            <a
              href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
              class="ms-1"
              >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
                {{ "," }}
              {{ end }}
            </a>
          {{ end }}
        </li>
      </ul>
    {{ end }}
    <p class="mb-6">{{ .Summary | truncate 100 }}</p>
    <a class="btn btn-outline-primary btn-sm mt-4" href="{{ .RelPermalink }}">
      {{ T "read_more" }}
    </a>
  </div>
  {{ $image:= .Params.image }}
  {{ if $image }}
    <a href="{{ .RelPermalink }}">
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "h-auto w-full md:w-[240px] rounded md:rounded-none") }}
    </a>
  {{ end }}
</div>
