{{ define "main" }}
  <section class="section-sm pt-10">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-8 text-center">
          {{ partial "image" (dict "Src" .Params.image "Context" .Page "Alt" .Title "Class" "mx-auto mb-6" "Size" "250x333") }}
          <h2 class="h3 mb-6">{{ .Title }}</h2>
          <h3 class="h5">{{ .Params.subtitle }}</h3>
          <div class="content">{{ .Content }}</div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
